@font-face {
  font-family: 'SF Compact Display';
  src: url('../../../../public/font/SFCompactDisplay-Thin.woff2') format('woff2'),
      url('../../../../public/font/SFCompactDisplay-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Compact Display';
  src: url('../../../../public/font/SFCompactDisplay-Medium.woff2') format('woff2'),
      url('../../../../public/font/SFCompactDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


// Theme style
//

// Initialize
@import 'init';

// Components
@import './core/components/components';
@import 'components/components';

// Layout
@import './core/layout/base/layout';
@import 'layout/layout';

body {
  font-family: 'SF Compact Display', sans-serif !important;
  font-weight: 500 !important;
}